<div>
    <button (click)="back()"></button>
    <h1>{{ article.title }}</h1>
</div>    
<div>
    <p>{{ article.created_at | date }}</p>
    <p>{{ article.username }}</p>
    <p>{{article.topic}}</p>
</div>
<div>
    <p>{{ article.content }}</p>
</div>
<div>
    <h2>Commentaires</h2>
</div>
@for (comment of article.comments; track comment.id) {
<div>
    <p>{{ comment.username }}</p>
    <p>{{ comment.content }}</p>
</div>
}

<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div>
        <textarea id="content" formControlName="content" placeholder="Ecrivez un commentaire"></textarea>
    </div>
    <div>
        <button type="submit"></button>
    </div>
</form>
